.product__rating {
  display: flex;
}

.product1 {
  margin: 10px;
  /* padding: 20px; */
}
.product__info {
  height: 100px;
  margin-bottom: 15px;
}
.product__price {
  font-size: 20px;
}
.footer {
  display: flex;
  justify-content: space-between;
}
.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}
.product > button {
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
}
.button {
  background-color: #f0c14b !important;
  border: 1px solid !important;
  border-color: #a88734 #9c7e31 #846a29 !important;
}
.image {
  height: 300px !important;
  width: 100% !important;
  /* object-fit: contain;
  margin-bottom: 15px; */
}
